my_data
notebook/competition/kaggle_data_open
notebook/competition/public_data
notebook/competition/tracks_levels_open.csv

### ~ Python ~ ###
**/.ipynb*

### ~ Docker ~ ###
**/.dockerignore
**/Dockerfile
*.yml